{% extends "base.html" %}

{% block page_content %}
<h1>Welcome to Dee's Blog</h1>
<h3>Health Benefits of Eating Fruits</h3>
<img height="300" width="300" src="https://media.istockphoto.com/photos/colorful-vegetables-and-fruits-vegan-food-in-rainbow-colors-picture-id1284690585?k=20&m=1284690585&s=612x612&w=0&h=CR2AizK_rWQ5BLao7vj5wCdjG5M_jXbsR_nelFaYTkU=" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae <br> ullam delectus voluptate atque non exercitationem praesentium <br>eligendi?  Earum, aperiam excepturi illum itaque iste, possimus <br>quia ratione culpa reprehenderit veritatis a, quaerat <br>repellat! Totam quae, harum voluptatum quam error quia <br>perferendis quasi laboriosam? Dolorem sapiente voluptates ullam? <br>Sed quia qui blanditiis!</p>
{% endblock %}